#register {
  background-color: $blue;
  padding: 30px;
  color: $blue!important;
      .regist-content {
        @include borderbox();
        font-family: 'Montserrat';
        background-color: $white;
        color: $blue;
        padding: 10px 0;
        width: 70%;
        border-radius: 20px;
        #vocom-logo-color {
          width: 20%;
          display: block;
          margin: 10px auto;
        }
        p.title {
          font-weight: bold;
          font-size: 1.5em;
          text-align: center;
          width: 100%;
          margin: 10px auto;
          margin-bottom: 0!important;
        }
        .container {
          max-width: 100%!important;
          margin: 0!important;
          .row {
            margin: 0!important;
          }
        .form-regist {
          .mg-t-10 {
            margin-top: 10px!important;
          }
          .nav-pills li {
            padding: 10px 25px!important;
          }
          .tab-content {
            margin-top: 10px;
            input {
              margin: 0;
              padding: 0 5px;
              border: 0;
              border-bottom: 1px solid $blue;
              width: 95%;
              &:focus {
                outline: none;
              }
            }
            select {
              width: 95%;
            }
          }
          .phone-num {
            input {
              width: 80%;
            }
          }
          .row {
            margin: 0;
            span {
              font-weight: bold;
              padding: 0 15px;
            }
          }
          .mid {
            padding: 0 auto!important;
          }
          .regist-btn {
            padding: 5px!important;
            margin: 0 auto!important;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5em;
            color: $blue;
            background-color: inherit;
            border: 2px solid $blue !important;
            border-radius: 5px;
          }
          .log-here {
            text-align: center!important;
            margin: 0;
            span {
              font-weight: bold!important;
            }
            a {
              color: inherit;
            }
          }
        }
      }
    }
  .mg-pd-0 {
    margin: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
  }
  .desc-form {
    background-color: $yellow;
    color: $blue;
    position: fixed;
    right: 0;
    width: 30%;
    top: 0;
    min-height: 100%;
    padding: 25px 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    .desc-logo {
      width: 50%;
      margin: 0 auto;
      display: block;
    }
    p {
      font-family: 'Montserrat';
      line-height: 1.5em;
      direction: rtl;
      padding: 50px 25px 50px 50px;
    }
    span {
      font-weight: bold;
      font-size: 2em;
      line-height: 1.2em;
      text-align: right!important;
    }
  }
}

@media screen and (max-width: 768px) {
  #vocom-logo-color {
    width: 40%!important;
  }
  .regist-content {
    width: 100%!important;
  }
  .desc-form {
    position: relative!important;
    width: 100%!important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)!important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)!important;
    border-radius: 25px;
    margin-top: 25px;
    p {
      direction: ltr!important;
      padding: 50px 25px!important;
    }
    .desc-logo{
      width: 30%!important;
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.8em;
  }
  #vocom-logo-color {
    width: 75%!important;
  }

}
